@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Noto+Sans+TC:wght@400;500;700&display=swap");

html, body {
  width: 100%;
  height: 100%;
  font-family: "Josefin Sans", "Noto Sans TC", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

*:focus {
  outline: none;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

@media (max-width: 1023px) {
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 28px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 20px;
  }
}
